attrs
autobahn
Automat
backports.zoneinfo
certifi
cffi
channels
channels-redis
charset-normalizer
constantly
cryptography
daphne
defusedxml
dj-rest-auth
Django
django-allauth
django-channels-jwt-auth-middleware
django-cors-headers
django-filter
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
gunicorn
hiredis
hyperlink
idna
importlib-metadata
incremental
Markdown
msgpack
oauthlib
psycopg2
pyasn1
pyasn1-modules
pycoingecko
wr
pycparser
PyJWT
pyOpenSSL
python3-openid
pytz
requests
requests-oauthlib
service-identity
six
sqlparse
Twisted
txaio
typing-extensions
urllib3
websocket-client
zipp
zope.interface
